{% extends "base.html" %}

{% block content %}

<style>
td, th {
  border: 1px solid #dddddd;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<h2>All public albums</h2>

<table>
    <thead>
        <th>Album name</th>
        <th>Owner</th>
        <th>Date created</th>
    </thead>
    <tbody>
        {% for album in album_list %}
            <tr>
                <td><a href="{% url 'image_list' pk=album.id %}">{{ album.name }}</a></td>
                <td>{{ album.owner.username }}</td>
                <td>{{ album.date_created }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
